@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0; 
}

:root {
    --header-height: 3rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --hue: 0;
    --sat: 0%;
    --title-color: hsl(var(--hue), var(--sat), 20%);
    --title-color-dark: hsl(var(--hue), var(--sat), 0%);
    --text-color: hsl(var(--hue), var(--sat), 46%);
    --body-color: hsl(var(--hue), var(--sat), 98%);
    --container-color: #fff;
  
    /*========== Font and typography ==========*/
    --body-font: "Poppins", sans-serif;
  
    /*.5rem = 8px | 1rem = 16px ...*/
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.625rem;
  
    /*========== Font weight ==========*/
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /*========== Margenes Bottom ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    --for--shadow : 2px 2px 2px gray;;
  }

  .header{
    font-family: 'Fira Sans', sans-serif;
    height: 40px;
    background-color: #f8f7f1;
    display: flex;
    text-decoration: none;
    /* position: fixed; */
    
    
  }
  ul{
    list-style: none;
  }
  .ul-list{
    margin-top: 15px;
    margin-left: 10px;
    position: relative;
    left: 22rem;
    font-family: 'Alegreya Sans SC', sans-serif;
    cursor: pointer;
    display: inline-block;
    bottom: 2.2rem;    
    opacity: 0.6;
    transition: all 0.5s ease-in-out;
    animation-name: movement1;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }

  @keyframes movement1 {
    0%{
      left: 0;
    }
    100%{
      left: 22rem;
    }
    
  }
  .ul-list:hover{
    transform: translateY(-30%);
  }

  .ul-list1{
    margin-top: 12px;
    position: relative;
    left: 10rem;
    font-size: 1.1rem;
    cursor: pointer;
    /* font-family: 'Pacifico', cursive; */
    /* font-family: 'Lobster', cursive; */
    font-family: 'Mochiy Pop One', sans-serif;
    opacity: 0.6;
    animation-name: movement;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }

  @keyframes movement {

    0%{
      left: 0;
    }
    100%{
      left: 10rem;
    }
  }


/* 
  .ul-list:nth-child(4){left: 28rem;}
  .ul-list:nth-child(3){left: 26rem;}
  .ul-list:nth-child(2){left: 25rem;}
  .ul-list:nth-child(1){left: 22rem;} */



  /* .ul-list{
    font-family: 'Fira Sans', sans-serif;
    margin-top: 15px;
    margin-left: 10rem;
    color: var(--title-color);

  } */

  .heading1{
    text-align: center;
    margin-top: 20px;
    opacity: 0.6;
    font-family: 'Fredoka One', cursive;
    display: flex;
    position: absolute;
    left: 23rem;
    top: 6rem;
    font-family: 'Mochiy Pop One', sans-serif;
  }

  span{
    color:cadetblue;
  }

  .pdiv{
    height: 50vh;
    width: 100%;
    background-color: #f8f7f1;
    display: flex;
  }

  .nhead{
    font-family: 'Mochiy Pop One', sans-serif;
    opacity: 0.7;
  }

  #APIP{
    font-size: 12px;
    font-family: 'Roboto Slab', serif;
    opacity: 0.8;
  }

  .card{
    box-shadow: var(--for--shadow);
  }

  .card-Element{
    margin-top: 10px;
  }

 